<div *ngIf="user" class="user">
    <h2>User editor</h2>
    <h3>{{ user.name }} {{ user.surname }}</h3>
    <div>
        <label for="user-name">Edit user name: </label>
        <input id="user-name" 
            [(ngModel)]="user.name"
            placeholder="user"
        />
    </div>

    <div>
        <label for="user-surname">Edit user surname: </label>
        <input id="user-surname" 
            [(ngModel)]="user.surname"
            placeholder="surname"
        />
    </div>

    <h4>Specialization: {{ user.specialization }}</h4>
    <label>Edit specialization:</label>
    <select [(ngModel)]="user.specialization">
        <option *ngFor="let specialization of specializationUser" [value]="specialization">
            {{ specialization }}
        </option>
    </select>

    <h4>Task:</h4>

    <div>
        <button (click)="saveChange(user)">Save</button>
    </div>
</div>

