h2 {
    text-align: center;
    margin-left: -40px;
}

ul {
    margin-right: 10px;
    margin-left: 40px;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 10px 10px;
    padding-left: 40px;
}

li {
    display: flex;
    list-style-type: none;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 10px;
    padding-left: 40px;
}

button {
    height: 28px;
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #eee;
    border-radius: 4px;
    font-size: 20px;
}
 
button:hover {
    color: white;
    background-color: #42545C;
}

h3 {
    font-size: 22px;
}

h3:hover {
    color: rgb(133, 0, 173);
    cursor: pointer;
}

h3.active {
    color: rgb(133, 0, 173);
}