<div *ngIf="task" class="task">

    <h3>{{ task.name }}</h3>
    <div>
        <label for="task-name">Edit task name: </label>
        <input id="task-name" 
            [(ngModel)]="task.name" 
            placeholder="task"
        />
    </div>

    <h4>Status: {{ task.status }}</h4>
    <label>Edit status:</label>
    <select [(ngModel)]="task.status">
        <option *ngFor="let status of statusTask" [value]="status">
            {{ status }}
        </option>
    </select>

    <h4 *ngIf="task.assignedPerson">Assignee: {{ task.assignedPerson }}</h4>
    <div>
        <label for="task-person">Edit person: </label>
        <input id="task-person" [(ngModel)]="task.assignedPerson" placeholder="person"/>
    </div>

    <h4>Description:</h4>
    <div>{{ task.description }}</div>
    <div>
        <label for="task-description">Edit task description: </label>
        <input id="task-description" [(ngModel)]="task.description" placeholder="description"/>
    </div>

    <h4>Time:</h4><span> {{ task.timeCreation | date:'medium' }}</span>

    <div>
        <button (click)="saveChange(task)">Save</button>
    </div>
</div>
